<a href="https://colab.research.google.com/github/benafshapostwala/Data_Mining_CW/blob/main/Data_Mining_CW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importing and mounting google drive as we have stored the data in a folder here (saved in email id benbakes21@gmail.com)
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
#importing the excel file containing the data using pandas
import pandas as pd
data = pd.ExcelFile('/content/gdrive/My Drive/Data_mining_cw2_data/LendingClubLoans2018-2020.xlsx')

In [4]:
#converting excel file to pandas dataframe
lending_data=pd.read_excel(data)

In [7]:
#inspecting the first 5 rows of the dataframe
lending_data.head()

          id  ... orig_projected_additional_accrued_interest
0  113924213  ...                                        NaN
1  113101099  ...                                        NaN
2  113672609  ...                                        NaN
3  115053799  ...                                        NaN
4    6317122  ...                                     116.43

[5 rows x 108 columns]

In [37]:
#by describing the data, we can obtain a summary statistical report of all numerical variables
num_data=lending_data.describe()
Numerical_variables=num_data.columns
#now we can create a list of all numerical variables without listing them one by one
Numerical_variables=list(Numerical_variables)
Numerical_variables

88

In [29]:
#Our target variable is 'loan_status' so we must take a look at how many classes we are dealing with
lending_data['loan_status'].unique()
#here we list out all the column names or variables in our data
all_variables=list(lending_data.columns)

In [38]:
import numpy as np
#to obtain a list of all categorical variables, we can comapare the all_variables list and Numerical_variables list
# to find the elements that are NOT listed in Numerical variables as they would have to be categorical in nature. 
#This is a short cut to avoid listing out by typing.
Categorical_variables = list(np.setdiff1d(all_variables,Numerical_variables))
Categorical_variables

['application_type',
 'earliest_cr_line',
 'emp_title',
 'grade',
 'hardship_flag',
 'hardship_reason',
 'hardship_status',
 'hardship_type',
 'home_ownership',
 'initial_list_status',
 'issue_d',
 'last_pymnt_d',
 'loan_status',
 'next_pymnt_d',
 'payment_plan_start_date',
 'purpose',
 'pymnt_plan',
 'term',
 'verification_status',
 'verification_status_joint']